<%= render 'layouts/errors', :object => @recipe %>

<%= form_for @recipe do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :imageUrl %>
    <%= f.text_field :imageUrl, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :calories %>
    <%= f.integer :calories, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :protein %>
    <%= f.integer :protein, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fat %>
    <%= f.integer :fat, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :carbohydrates %>
    <%= f.integer :carbohydrates, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit :null, class: 'btn btn-default'%>
  </div>
<% end %>
