<h2>Recipes</h2>
<% @recipes.each do |recipe| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%=link_to image_tag('recipecard.png', alt:'recipe icon', size: '50x35'), recipe_path(recipe.id) %>  <%= link_to recipe.title, recipe_path(recipe.id) %></h3>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <%= image_tag(recipe.imageUrl, size: "400x400",  alt:'recipe image', id:'recipe') %>
      </div>

      <div class="col-md-6">
        <div class="well">
          Cal: <%= recipe.calories %> | Protein: <%= recipe.protein %> g | Fat: <%= recipe.fat %> g | Carbs: <%= recipe.carbohydrates %> g
        </div>
        <%= form_for @meal do |f| %>
        <%= f.hidden_field :recipe_id, value: recipe.id %>
        <div class="form-group">
          <%= f.select :category, options_for_select([
            ['Breakfast', 'Breakfast'],
            ['Lunch', 'Lunch'],
            ['Dinner', 'Dinner']
            ]), {}, {class: 'form-control'} %>
        </div>
        <div class="form-group">
          <%= f.label :date %>
          <%= f.date_field :start_time, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit "Add Meal", class:'btn btn-default' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
