<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @recipe.title %></h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <div class="recipe-image">
        <%= image_tag(@recipe.imageUrl, size: "250x250",  alt:'recipe image', id:'recipeImg', class:'img-responsive') %>
      </div>
      <br>
    </div>
    <div class="col-md-6">
      <div class="well">
        Cal: <%= @recipe.calories %> | Protein: <%= @recipe.protein %> g | Fat: <%= @recipe.fat %> g | Carbs: <%= @recipe.carbohydrates %> g
      </div>
      <h4>Instructions</h4>
      <ul>
        <% @recipe.instructions.each do |step| %>
          <li><%= step %></li>
        <% end %>
      </ul>
      <% @recipe.diets.each do |diet| %>
        <% if diet === "dairy free" %>
          <%= image_tag("milk-icon.png", size: "30x30",  alt:'milk-icon', id:'milk-icon') %>
        <% elsif diet === "gluten free" %>
          <%= image_tag("wheat-icon.png", size: "30x30",  alt:'wheat-icon', id:'wheat-icon') %>
        <% elsif diet === "vegan" || diet === "vegetarian" %>
          <%= image_tag("vegan-icon.png", size: "30x30",  alt:'vegan-icon', id:'vegan-icon') %>
        <% elsif diet === "nut allergy" %>
          <%= image_tag("nut-icon.png", size: "30x30",  alt:'nut-icon', id:'nut-icon') %>
        <% elsif diet === "shellfish allergy" %>
          <%= image_tag("shellfish-icon.png", size: "30x30",  alt:'shellfish-icon', id:'shellfish-icon') %>
        <% end %>
      <% end %>
      <h4>Ingredients</h4>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      </ul>
      <% if admin? %>
        <div class="well">
          <%= link_to "Edit", edit_recipe_path(@recipe) %> | <%= link_to "Delete", recipe_path(@recipe), :data => {:confirm => "Are you sure?",
            :method => "delete"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
