<h4><strong>Username:</strong> <%= @user.username %></h4>
<h4><strong>Email:</strong> <%= @user.email %></h4>
<h3>Specifications:</h3>
<hr>
<h4><strong>Calories:</strong> <%= @user.calories %> </h4>
<h4><strong>Protein:</strong> <%= @user.protein %> </h4>
<h4><strong>Fat:</strong> <%= @user.fat %> </h4>
<h4><strong>Carbohydrates:</strong> <%= @user.carbohydrates %> </h4>
