<div class="month_calendar">
  <%= month_calendar(events: @meals, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link) do |date, meals| %>
    <%= date %>

    <% total_calories = 0 %><% total_protein = 0 %><% total_fat = 0 %><% total_carbohydrates = 0 %>
    <% meals.each do |meal| %>
      <div class="cal-item">
        <% if meal.category === "Breakfast" %>
          <%= image_tag("Bicon.png", size: "20x20",  alt:'Bicon', id:'Bicon') %>
        <% elsif meal.category === "Lunch" %>
          <%= image_tag("Licon.png", size: "20x20",  alt:'Licon', id:'Licon') %>
        <% elsif meal.category === "Dinner" %>
          <%= image_tag("Dicon.png", size: "20x20",  alt:'Dicon', id:'Dicon') %>
        <% elsif meal.category === "Other" %>
          <%= image_tag("Oicon.png", size: "20x20",  alt:'Oicon', id:'Oicon') %>
        <% end %><%= link_to meal.recipe.title, recipe_path(meal.recipe_id) %><%= link_to " x", meal_path(meal), class:'remove', :data => {:confirm => "Are you sure?", :method => "delete"} %>
      </div>
      <% total_calories = total_calories + meal.recipe.calories %>
      <% total_protein = total_protein + meal.recipe.protein %>
      <% total_fat = total_fat + meal.recipe.fat %>
      <% total_carbohydrates = total_carbohydrates + meal.recipe.carbohydrates %>
    <% end %>

    <% if meals.any? %>
      <div class="well">
        <strong>Total Macros</strong><br>
        Cal: <%= total_calories %><br>
        Protein: <%= total_protein %> g<br>
        Fat: <%= total_fat %> g<br>
        Carbs: <%= total_carbohydrates %> g
      </div>
    <% end %>
  <% end %>
</div>
