<div class="row">
  <!-- <span id="print-btn" class="btn btn-default"><%= link_to 'Print', meals_path, :onclick => 'window.print();return false;'%></span> -->
  <button type="button" name="button" id="day" class="btn btn-default">Today</button>
  <button type="button" name="button" id="week" class="btn btn-default">Week</button>
  <button type="button" name="button" id="month" class="btn btn-default">Month</button>
</div>

<div class="day_calendar">
  <%= calendar(number_of_days: 1, events: @meals) do |date, meals| %>
    <%= date %>

    <% meals.each do |meal| %>
      <div class="cal-item">
        <% if meal.category === "Breakfast" %>
          <%= image_tag("Bicon.png", size: "20x20",  alt:'Bicon', id:'Bicon') %>
        <% elsif meal.category === "Lunch" %>
          <%= image_tag("Licon.png", size: "20x20",  alt:'Licon', id:'Licon') %>
        <% elsif meal.category === "Dinner" %>
          <%= image_tag("Dicon.png", size: "20x20",  alt:'Dicon', id:'Dicon') %>
        <% elsif meal.category === "Other" %>
          <%= image_tag("Oicon.png", size: "20x20",  alt:'Oicon', id:'Oicon') %>
        <% end %><%= link_to meal.recipe.title, recipe_path(meal.recipe_id) %><%= link_to " X", meal_path(meal), class:'remove', :data => {:confirm => "Are you sure?", :method => "delete"} %>
      </div>
    <% end %>

  <% end %>
</div>

<div class="week_calendar">
  <%= week_calendar events: @meals do |date, meals| %>
    <%= date %>

    <% meals.each do |meal| %>
      <div class="cal-item">
        <% if meal.category === "Breakfast" %>
          <%= image_tag("Bicon.png", size: "20x20",  alt:'Bicon', id:'Bicon') %>
        <% elsif meal.category === "Lunch" %>
          <%= image_tag("Licon.png", size: "20x20",  alt:'Licon', id:'Licon') %>
        <% elsif meal.category === "Dinner" %>
          <%= image_tag("Dicon.png", size: "20x20",  alt:'Dicon', id:'Dicon') %>
        <% elsif meal.category === "Other" %>
          <%= image_tag("Oicon.png", size: "20x20",  alt:'Oicon', id:'Oicon') %>
        <% end %><%= link_to meal.recipe.title, recipe_path(meal.recipe_id) %><%= link_to " X", meal_path(meal), class:'remove', :data => {:confirm => "Are you sure?", :method => "delete"} %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="month_calendar">
  <%= month_calendar events: @meals do |date, meals| %>
    <%= date %>

    <% meals.each do |meal| %>
      <div class="cal-item">
        <% if meal.category === "Breakfast" %>
          <%= image_tag("Bicon.png", size: "20x20",  alt:'Bicon', id:'Bicon') %>
        <% elsif meal.category === "Lunch" %>
          <%= image_tag("Licon.png", size: "20x20",  alt:'Licon', id:'Licon') %>
        <% elsif meal.category === "Dinner" %>
          <%= image_tag("Dicon.png", size: "20x20",  alt:'Dicon', id:'Dicon') %>
        <% elsif meal.category === "Other" %>
          <%= image_tag("Oicon.png", size: "20x20",  alt:'Oicon', id:'Oicon') %>
        <% end %><%= link_to meal.recipe.title, recipe_path(meal.recipe_id) %><%= link_to " X", meal_path(meal), class:'remove', :data => {:confirm => "Are you sure?", :method => "delete"} %>
      </div>
    <% end %>
  <% end %>
</div>
