<h2>Meal Plans</h2>
<nav class="nav navbar">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Today",  day_cal_meals_path(), id:'day-calendar-link', remote: true %>
    </li>
    <li class="nav-item">
      <%= link_to "Week",  week_cal_meals_path(), id:'week-calendar-link', remote: true %>
    </li>
    <li class="nav-item">
      <%= link_to "Month",  month_cal_meals_path(), id:'month-calendar-link', remote: true %>
    </li>
    <li class="nav-item active pull-right">
      <%= link_to 'Print', meals_path, :onclick => 'window.print();return false;', class:"pull-right"%>
    </li>
  </ul>
</nav>

<div id="day-calendar">
  <%= render partial:"day_cal", locals: {events: @events}  %>
</div>
<div id="week-calendar">
  <%= render partial:"week_cal", locals: {events: @events}  %>
</div>
<div id="month-calendar">
  <%= render partial:"month_cal", locals: {events: @events}  %>
</div>
